.ChatBox {
    background-color: white;
    height: 100%;
    width: 400px;
    margin: auto;

    @media screen and (max-width: 1224px) {
        width: 100vw;
    }

    .ChatBox-messages {
        overflow-y: auto;
    }
}