.SendMessage {
    background-color: white;
    position: sticky;
    bottom: 0;

    input {
        margin: 3px 10px;
        width: 95%;
        padding: 10px 15px;
        border-radius: 50px;
        border: 1px solid grey;
        background-color: white;

        &:focus {
            outline: none;
        }
    }
}