.SendMessage {
  background-color: white;
  position: sticky;
  bottom: 0;
}
.SendMessage input {
  margin: 3px 10px;
  width: 95%;
  padding: 10px 15px;
  border-radius: 50px;
  border: 1px solid grey;
  background-color: white;
}
.SendMessage input:focus {
  outline: none;
}
